@import 'tailwindcss';
@import "./theme.css";

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
}

@layer base {

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}